* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 320px;
    height: max-content;
    box-shadow: 0 0 10px 2px rgb(79, 61, 245);
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 25px;
}

.fields_Container {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.user_Field {
    width: 90%;
    height: 30px;
    font-size: 20px;
    border-radius: 4px;
    padding: 10px;
    outline: none;
    border: 0;
    box-shadow: inset 0 0 5px 2px rgb(79, 61, 245);
}

.required_Label {
    color: red;
    font-size: 14px;
    display: none;
}

#signUp-btn, #login {
    width: 90%;
    height: 30px;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgb(79, 61, 245);
    border: 0;
    color: #fff;
}

#signIn {
    margin: 20px 0px;
    text-align: center;
    width: 90%;
}

#signIn a {
    text-decoration: none;
}